numpy==1.21.2
matplotlib==3.4.3

# die müssten für gpu angepasst werden, falls notwendig
-f https://download.pytorch.org/whl/torch_stable.html
torch==1.9.1
-f https://download.pytorch.org/whl/torch_stable.html
torchvision==0.10.1
-f https://download.pytorch.org/whl/torch_stable.html
torchaudio==0.9.1

Pillow==8.3.2
pytorch-lightning==1.4.9
cleverhans==4.0.0
